body {
    background-color: rgb(214, 209, 202);
    margin: 0px;
    background-image: url("/img/backgrund.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.gridWrapper {
    display:grid;
    width: 181vh;
    height: 10vh;
    grid-template-areas:
    "he he he"
    ;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1px;
}

section#header {
    background-image: linear-gradient(to right,black, brown);
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 181vh;
    height: 10vw;
    font-size: 100px;
    
  }

.nummer3 {
    font-style: italic;
    color: white;
    padding-right: 35vh;
    font-size: 200px;
}
  
.nummer1 {
    padding: 100px;
    color: white;
}

.loggo {
    padding-right: 5vh;
}

#wrapper {
    display:flex;
    height:181vh;
    width: 181vh;
    background-color:white ;
    width: 181vh;
    height: 300vh;
  }

.aside {
    grid-area: as;
    background-color: burlywood;
}

.footer {
    grid-area: fo;
    background-color: chocolate;
}


section#innerGridWrapper {

    margin-top: 85vh;
    margin-right: 330vh;
    width: 181vh;
    height: 300vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.innerDiv {
    background-color: indigo;
    width: 50vh;
    height: 50vh;
}

