body {
    background-color: rgb(214, 209, 202);
    margin: 0px;
    background-image: url("/img/backgrund.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.gridWrapper {
    display:grid;
    width: 100vw;
    grid-template-areas:
    "he he he"
    ;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1px;
}

section#header {
    background-image: linear-gradient(to right,black, brown);
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 10vw;
    font-size: 50px;
    
  }

.nummer3 {
    font-style: italic;
    color: white;
    font-size: 100px;
   
}
  
.nummer1 {
    color: white;
}

.loggo {
   
}

#wrapper {
    display:grid;
    grid-template-areas: 
    'id1 id2 as'
    'id3 id4 as'
    'id5 id6 .'
    'fo fo fo';
    background-color:white ;
    margin-top: 70vh;
    width: 100vw;
  }

.aside {
    background-color: burlywood;
    grid-area: as;
}

footer {
    background-color: chocolate;
    grid-area: fo;
}

.innerDiv {
    background-color: indigo;
    width: 50vh;
    height: 50vh;
    margin-bottom: 2vh;
    margin-left: 2vh;
    margin-top: 2vh;
}

#innerdiv1{
    grid-area: id1;
}

#innerdiv2{
    grid-area: id2;
}

#innerdiv3{
    grid-area: id3;
}

#innerdiv4{
    grid-area: id4;
}

#innerdiv5{
    grid-area: id5;
}

#innerdiv6{
    grid-area: id6;
}
