*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;




}

body {
    margin: 0px;
    background-image: url("/img/backgrund.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(214, 209, 202);
    max-width: 100%;
    overflow-x: hidden;

}

.gridWrapper {
    width: 100vw;
}

section#header {
    background-image: linear-gradient(to right,black, rgb(101, 165, 42));
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 14vw;

    
  }


.nummer3 {
    font-style: italic;
    color: white;
    font-size: 90px;
    padding-right: 250px;
   
}
  
.nummer1 {
    color: white;
    padding-right: 40px;
    font-size: 30px;
}



.loggo >img{
    height: 10vw;
    margin: 30px;
   
}


a:hover {
    color: rgb(255, 81, 0);
  }

a{
    text-decoration: none;
    color: white;
}

#wrapper{
    padding-left: 5vw;
}


.innerDiv {
    background-color: rgb(231, 220, 203);
    width: 90vw;
    height: 7vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   

}

#innerdiv1{
    grid-area: id1;
}

#innerdiv2{
    grid-area: id2;
}

#innerdiv3{
    grid-area: id3;
}

#innerdiv4{
    grid-area: id4;
}

#innerdiv5{
    grid-area: id5;
}

#innerdiv6{
    grid-area: id6;
}


footer {
    background-color: chocolate;
    grid-area: fo;
    height: 10vw;
}

.footer1 {
    background-color: rgb(241, 120, 34);
    margin-bottom: 1vw;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
}